<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>AdminLocal</title>
    <!-- meta -->
      <meta name="description" content="A Flask Webapp for the Task">
      <meta name="author" content="Gourav Kumar Singh">
      <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- meta -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css"
        rel="stylesheet">
    {% block css %}{% endblock %}
  </head>
  <body>
  {% include 'navbar.html' %}
    {% block content %}{% endblock %}
  </body>
</html>