{% extends "base.html" %}
{% block content %}
  <div class="container">
    <div class="column">
      <br>
      <h1 class="title"> Login </h1>
      <hr><br>
      <form action="", method="POST">
        {{ form.hidden_tag() }}
        <div class="field">
          <label class="label">{{ form.username.label }}</label>
          <div class="control has-icons-left has-icons-right">
            {{ form.username(placeholder="Text Input", size=32, class="input", type="Text") }}
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
            <span class="icon is-small is-right">
              <i class="fas fa-check"></i>
            </span>
          </div>
          {% for error in form.username.errors %}
          <p class="help is-danger">[{{ error }}]</p>
          {% endfor %}
        </div>
        <div class="field">
          <label class="label">{{ form.password.label }}</label>
          <div class="control has-icons-left has-icons-right">
            {{ form.password(size=32, class="input", type="password", placeholder="Password input") }}
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
            <span class="icon is-small is-right">
              <i class="fas fa-check"></i>
            </span>
          </div>
          {% for error in form.password.errors %}
          <p class="help is-danger">[{{ error }}]</p>
          {% endfor %}
        </div>
        <div class="field is-grouped">
          <div class="control">
            {{ form.submit(placeholder=Submit, class="button is-link") }}
          </div>
          <div>
            <p> New User? <a href="{{ url_for('users.register') }}" class="button is-primary">Click to Register!</a>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}