{% extends "base.html" %}
{% block content %}

  <div class="container">
    <div class="column">
      <br>
      <h1 class="title", style="text-align: center">AdminLocal</h1>
      <hr><br>
      <form action="", method="POST">
        {{ form.hidden_tag() }}
        <div class="field">
          <label class="label">{{ form.full_name.label }}</label>
          <div class="control has-icons-left has-icons-right">
            {{ form.full_name(placeholder="Text Input", size=32, class="input is-success", type="Text") }}
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
            <span class="icon is-small is-right">
              <i class="fas fa-check"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <label class="label">{{ form.email.label }}</label>
          <div class="control has-icons-left has-icons-right">
            {{ form.email(size=64, class="input is-danger", type="email", placeholder="Email input") }}
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
            <span class="icon is-small is-right">
              <i class="fas fa-exclamation-triangle"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <label class="label">{{ form.username.label }}</label>
          <div class="control has-icons-left has-icons-right">
            {{ form.username(placeholder="Text Input", size=32, class="input is-success", type="Text") }}
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
            <span class="icon is-small is-right">
              <i class="fas fa-check"></i>
            </span>
          </div>
          <p class="help is-success">This username is available</p>
        </div>
        <div class="field">
          <label class="label">{{ form.password.label }}</label>
          <div class="control has-icons-left has-icons-right">
            {{ form.password(size=32, class="input is-danger", type="email", placeholder="Password input") }}
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
            <span class="icon is-small is-right">
              <i class="fas fa-exclamation-triangle"></i>
            </span>
          </div>
          <p class="help is-danger">This email is invalid</p>
        </div>
        <div class="field">
          <label class="label">{{ form.rep_password.label }}</label>
          <div class="control has-icons-left has-icons-right">
            {{ form.rep_password(size=32, class="input is-danger", type="email", placeholder="Password input") }}
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
            <span class="icon is-small is-right">
              <i class="fas fa-exclamation-triangle"></i>
            </span>
          </div>
          <p class="help is-danger">This email is invalid</p>
        </div>
       <div class="field is-grouped">
        <div class="control">
          {{ form.submit(placeholder=Submit, class="button is-link") }}
        </div>
         <div>
           <p> Already Registerd?<a href="{{ url_for('users.login') }}" class="button is-primary">Click to Login!</a>
         </div>
      </div>
      </form>
    </div>
  </div>
{% endblock %}